
<p>{{ name }}</p>
<table flex>
    <thead>
        <tr>
            <th>Average</th>
            <th>Name</th>
            <th>Type</th>
            <th>HDCP</th>
            <th ng-repeat="label in gameLabels track by $index">{{ label }}</th>
            <th>Totals</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bowler in bowlers">
            <td>{{ bowler.average }}</td>
            <td>{{ bowler.name }}</td>
            <td>{{ bowler.type }}</td>
            <td>{{ bowler.handicap }}</td>
            <td ng-repeat="game in bowler.games track by $index" flex="5">
                <md-input-container>
                    <input type="number" ng-model="bowler.games[$index]" ng-model-options="{updateOn: 'blur'}"
                            ng-change="update()">
                </md-input-container>
            </td>
            <td>{{ bowler.total }}</td>
        </tr>
        <tr>
            <td colspan="2" style="background: lightgray"></td>
            <th colspan="2">Scratch Subtotal</th>
            <td class="text-center" ng-repeat="subtotal in subTotals track by $index">{{subtotal}}</td>
            <td class="text-center">{{ seriesScratch }}</td>
        </tr>
        <tr>
            <td colspan="2" style="background: lightgray"></td>
            <th colspan="2">Team Handicap</th>
            <td class="text-center" ng-repeat="label in gameLabels track by $index">{{ teamHandicap }}</td>
            <td class="text-center">{{ seriesTotalHandicap }}</td>
        </tr>
        <tr>
            <td colspan="2" style="background: lightgray"></td>
            <th colspan="2">Totals</th>
            <td class="text-center" ng-repeat="total in totals track by $index">{{ total }}</td>
            <td class="text-center">{{ seriesTotal }}</td>
        </tr>
    </tbody>
</table>