<h1>Create Bowler</h1>

<div>
    <md-input-container>
        <label for="name">Name</label>
        <input id="name" ng-model="bowlerController.bowler.name" type="text" required>
    </md-input-container>

    <md-input-container>
        <label for="handicap">Handicap</label>
        <input id="handicap" ng-model="bowlerController.bowler.handicap" type="number">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="bowlerController.submit()">Add Bowler</md-button>

    <md-button class="md-raised md-primary" ng-click="bowlerController.submit(true)">Add and Add Another</md-button>
</div>