<h1>Edit Bowler</h1>

<div>

    <md-input-container>
        <label for="name">Name</label>
        <input id="name" ng-model="editController.bowler.name" type="text" required>
    </md-input-container>

    <md-input-container>
        <label for="handicap">Handicap</label>
        <input id="handicap" ng-model="editController.bowler.handicap" type="number">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="editController.submit()">Edit Bowler</md-button>

    <md-button class="md-warn md-raised md-primary" ng-click="editController.makeBowlerSub()">Make Bowler a Sub</md-button>

</div>