
<p>League Details: {{ leagueController.league.name }}</p>

<div layout="row">

    <div flex>
      <h1>Teams</h1>
      <md-list flex>
          <md-item>
              <md-item-content>
                  <p><a ui-sref="^.addTeam({leagueId:leagueController.league.id})">Create New Team</a></p>
              </md-item-content>
          </md-item>
          <md-item ng-repeat="team in leagueController.league.teams">
              <md-item-content>
                  <div class="md-tile-content">
                      <h3>{{team.name}}</h3>
                      <p><a ui-sref="^.team.detail({leagueId:leagueController.league.id, teamId:team.id})">Team Details</a></p>
                  </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
          </md-item>
      </md-list>
    </div>

    <div flex>
      <h1>Weeks</h1>
      <md-list flex>
          <md-item>
              <md-item-content>
                  <p><a ui-sref="^.createWeeks">Create All Weeks</a></p>
              </md-item-content>
          </md-item>
          <md-item ng-repeat="week in leagueController.league.weeks | orderBy:'date'">
              <md-item-content>
                  <div class="md-tile-content">
                      <h3>{{week.date | date: 'MM/dd/yyyy'}}</h3>
                      <p><a ui-sref="^.week.details({weekId:week.weekNumber})">Week Details</a></p>
                  </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
          </md-item>
      </md-list>
    </div>

    <div flex>
      <h1>Substitutes</h1>
      <md-list flex>
          <md-item>
              <md-item-content>
                  <p><a ui-sref="^.createSub">Create New Substitute</a></p>
              </md-item-content>
          </md-item>
          <md-divider></md-divider>
          <md-item ng-repeat="sub in leagueController.substitutes">
              <md-item-content>
                  <div class="md-tile-content">
                      <h3>{{sub.name}}</h3>
                      <p><a ui-sref="bowling_entry_league_details({leagueId:sub.id})">Sub Details</a></p>
                      <p><a ui-sref="^.sub.edit({subId:sub.id})">Edit Sub</a></p>
                  </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
          </md-item>
      </md-list>
    </div>

</div>