{{ leagueController.leagues }}

<div layout="row">
    <div flex>
      <md-list flex>
          <md-item ng-repeat="league in leagueController.leagues">
              <md-item-content>
                  <div class="md-tile-content">
                      <h3>{{league.name}}</h3>
                      <p><a ui-sref="^.league.detail({leagueId:league.id})">League Details</a></p>
                      <p>{{ league }}</p>
                  </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
          </md-item>
      </md-list>
    </div>
    <div>
        <p><a ui-sref="^.createLeague">Add League</a></p>
    </div>
</div>

<ui-view></ui-view>