<h1>Score Sheet</h1>

<div layout="column">
    <div layout="column" flex>
        <score-sheet league="scoreController.league"
                     ng-model="scoreController.scoreSheet.team1"></score-sheet>
        <div>
            <a ui-sref="bowling_entry_league_week_match_assign_bowlers({leagueId: scoreController.league.id, weekId: scoreController.week.id, matchId: scoreController.scoreSheet.id, teamId: 1})">Assign Bowlers</a>
        </div>
    </div>

    <div flex layout="column">
        <score-sheet league="scoreController.league" ng-model="scoreController.scoreSheet.team2"></score-sheet>
        <div>
            <a ui-sref="bowling_entry_league_week_match_assign_bowlers({leagueId: scoreController.league.id, weekId: scoreController.week.id, matchId: scoreController.scoreSheet.id, teamId: 2})">Assign Bowlers</a>
        </div>
    </div>

    <md-button ng-click="scoreController.submit()" class="md-raised md-primary">
        Save
    </md-button>
</div>

<div layout="row">
    <div ng-repeat="gameNumber in scoreController.gameLabels">
        <md-button class="md-raised md-primary" ng-click="scoreController.viewGame(gameNumber)">
            Game {{ gameNumber }}
        </md-button>
    </div>
</div>
