<div flex>
    <p>Frame Input Keyboard</p>
    <div>
        <div flex>
            <div layout="row" layout-wrap>

                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(1)" ng-disabled="isThrowDisabled(1)">1</md-button>
                </div>
                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(2)" ng-disabled="isThrowDisabled(2)">2</md-button>
                </div>
                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(3)" ng-disabled="isThrowDisabled(3)">3</md-button>
                </div>

                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(4)" ng-disabled="isThrowDisabled(4)">4</md-button>
                </div>
                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(5)" ng-disabled="isThrowDisabled(5)">5</md-button>
                </div>
                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(6)" ng-disabled="isThrowDisabled(6)">6</md-button>
                </div>

                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(7)" ng-disabled="isThrowDisabled(7)">7</md-button>
                </div>
                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(8)" ng-disabled="isThrowDisabled(8)">8</md-button>
                </div>
                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(9)" ng-disabled="isThrowDisabled(9)">9</md-button>
                </div>

                <div flex="66">
                    <md-button class="md-primary md-raised" ng-click="remainder()" ng-disabled="isRemainderDisabled()" ng-bind="remainderLabel()"></md-button>
                </div>
                <div flex="33">
                    <md-button class="md-primary md-raised" ng-click="throwBall(0)" ng-disabled="isThrowDisabled(0)">0</md-button>
                </div>

            </div>

        </div>
        <div flex>
            <div layout="row">
                <div flex>
                    <md-button class="md-primary md-raised" ng-click="split()" ng-disabled="isSplitDisabled()">Split</md-button>
                </div>
                <div flex>
                    <md-button class="md-primary md-raised" ng-click="foul()" ng-disabled="true">Foul</md-button>
                </div>
                <div flex>
                    <md-button class="md-primary md-raised" ng-click="clearThrows()">Clear</md-button>
                </div>
                <div flex>
                    <md-button class="md-primary md-raised" ng-click="deleteThrow()">Delete</md-button>
                </div>
            </div>
        </div>
    </div>
</div>